#Tex ignore
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

*.directory
*.pdf

#Java ignore
*.class
*.war
*.ear
*.jar

#Python ignore
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.mr.developer.cfg
.project
.pydevproject

#Ruby ignore
*.gem
*.rbc
ruby/.config
ruby/coverage/
ruby/InstalledFiles
ruby/pkg/
ruby/spec/reports/
ruby/spec/examples.txt
ruby/test/tmp/
ruby/test/version_tmp/
ruby/tmp/
.dat*
.repl_history
build/
*.bridgesupport
.rvmrc

#directories
java/bin