#Tex ignore
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.pdf

*.directory


#Java ignore
codes/java/*.class
codes/java/*.war
codes/java/*.ear
codes/java/*.jar
codes/java/bin

#Python ignore
codes/python/*.py[cod]
codes/python/*.so
codes/python/*.egg
codes/python/*.egg-info
codes/python/dist
codes/python/build
codes/python/eggs
codes/python/parts
codes/python/bin
codes/python/var
codes/python/sdist
codes/python/develop-eggs
codes/python/.installed.cfg
codes/python/lib
codes/python/lib64
codes/python/__pycache__
codes/python/pip-log.txt
codes/python/.coverage
codes/python/.tox
codes/python/nosetests.xml
codes/python/*.mo
codes/python/.mr.developer.cfg
codes/python/.project
codes/python/.pydevproject

#Ruby ignore
codes/ruby/*.gem
codes/ruby/*.rbc
codes/ruby/.config
codes/ruby/coverage/
codes/ruby/InstalledFiles
codes/ruby/pkg/
codes/ruby/spec/reports/
codes/ruby/spec/examples.txt
codes/ruby/test/tmp/
codes/ruby/test/version_tmp/
codes/ruby/tmp/
codes/ruby/.dat*
codes/ruby/.repl_history
codes/ruby/build/
codes/ruby/*.bridgesupport
codes/ruby/.rvmrc

#C++ ignore
codes/cpp/*.slo
codes/cpp/*.lo
codes/cpp/*.o
codes/cpp/*.obj
codes/cpp/*.gch
codes/cpp/*.pch
codes/cpp/*.so
codes/cpp/*.dylib
codes/cpp/*.dll
codes/cpp/*.mod
codes/cpp/*.lai
codes/cpp/*.la
codes/cpp/*.a
codes/cpp/*.lib
codes/cpp/*.exe
codes/cpp/*.out
codes/cpp/*.app

#Perl ignore
codes/perl/blib/
codes/perl/.build/
codes/perl/_build/
codes/perl/cover_db/
codes/perl/inc/
codes/perl/Build
codes/perl/!Build/
codes/perl/Build.bat
codes/perl/.last_cover_stats
codes/perl/Makefile
codes/perl/Makefile.old
codes/perl/MANIFEST.bak
codes/perl/META.yml
codes/perl/META.json
codes/perl/MYMETA.*
codes/perl/nytprof.out
codes/perl/pm_to_blib
codes/perl/*.o
codes/perl/*.bs
codes/perl/_eumm/

#Lua ignore
codes/lua/luac.out
codes/lua/*.src.rock
codes/lua/*.zip
codes/lua/*.tar.gz
codes/lua/*.o
codes/lua/*.os
codes/lua/*.ko
codes/lua/*.obj
codes/lua/*.elf
codes/lua/*.gch
codes/lua/*.pch
codes/lua/*.lib
codes/lua/*.a
codes/lua/*.la
codes/lua/*.lo
codes/lua/*.def
codes/lua/*.exp
codes/lua/*.dll
codes/lua/*.so
codes/lua/*.so.*
codes/lua/*.dylib
codes/lua/*.exe
codes/lua/*.out
codes/lua/*.app
codes/lua/*.i*86
codes/lua/*.x86_64
codes/lua/*.hex

#directories
